.App {
  text-align: center;
}
body{
  background-color: #3f3f3f;
}
.container{
 display:flex;
 flex-direction: column;
 width: 20%;
  color: #fff;
 margin:0 auto;
 font-family: 'Courier New', Courier, monospace;
 

}

.snacks{
  font-size:30px;
  
  
}

button{
  
  border-radius: 3px;
  font-size: 23px;
  background-color: #3f3f3f;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  margin-top:30px;
}


button:hover{
 
  cursor: pointer;
  border-radius: 3px;
  font-size: 23px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  margin-top:30px;
}